@import 'variables';

body {
  width: 100%;
  margin: 0;
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.75em;
  background-color: $bg-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: $primary;
}

a {
  text-decoration: none;
  color: $secondary;
  transition: color 0.25s ease;
}

a:hover {
  color: $link-hover;
}

a.button {
  display: inline-block;
  border: 2px solid $secondary;
  color: $secondary;
  padding: 5px 20px;
  margin: 25px auto;
  transition: all 0.25s ease;
}

a.button:hover {
  color: $link-hover;
  border-color: $link-hover;
}